@font-face {
    font-family: 'Muller';
    src: local('Muller UltraLight'), local('MullerUltraLight'),
        url('../fonts/MullerUltraLight.woff2') format('woff2'),
        url('../fonts/MullerUltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Bold Italic'), local('MullerBoldItalic'),
        url('../fonts/MullerBoldItalic.woff2') format('woff2'),
        url('../fonts/MullerBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Medium'), local('MullerMedium'),
        url('../fonts/MullerMedium.woff2') format('woff2'),
        url('../fonts/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller ExtraBold Italic'), local('MullerExtraBoldItalic'),
        url('../fonts/MullerExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/MullerExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller UltraLight Italic'), local('MullerUltraLightItalic'),
        url('../fonts/MullerUltraLightItalic.woff2') format('woff2'),
        url('../fonts/MullerUltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Regular'), local('MullerRegular'),
        url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Black Italic'), local('MullerBlackItalic'),
        url('../fonts/MullerBlackItalic.woff2') format('woff2'),
        url('../fonts/MullerBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Muller Hairline';
    src: local('Muller Hairline Italic'), local('MullerHairlineItalic'),
        url('../fonts/MullerHairlineItalic.woff2') format('woff2'),
        url('../fonts/MullerHairlineItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Heavy Italic'), local('MullerHeavyItalic'),
        url('../fonts/MullerHeavyItalic.woff2') format('woff2'),
        url('../fonts/MullerHeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Thin Italic'), local('MullerThinItalic'),
        url('../fonts/MullerThinItalic.woff2') format('woff2'),
        url('../fonts/MullerThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Muller Hairline';
    src: local('Muller Hairline'), local('MullerHairline'),
        url('../fonts/MullerHairline.woff2') format('woff2'),
        url('../fonts/MullerHairline.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Heavy'), local('MullerHeavy'),
        url('../fonts/MullerHeavy.woff2') format('woff2'),
        url('../fonts/MullerHeavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Thin'), local('MullerThin'),
        url('../fonts/MullerThin.woff2') format('woff2'),
        url('../fonts/MullerThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Light Italic'), local('MullerLightItalic'),
        url('../fonts/MullerLightItalic.woff2') format('woff2'),
        url('../fonts/MullerLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Light'), local('MullerLight'),
        url('../fonts/MullerLight.woff2') format('woff2'),
        url('../fonts/MullerLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Black'), local('MullerBlack'),
        url('../fonts/MullerBlack.woff2') format('woff2'),
        url('../fonts/MullerBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Bold'), local('MullerBold'),
        url('../fonts/MullerBold.woff2') format('woff2'),
        url('../fonts/MullerBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller ExtraBold'), local('MullerExtraBold'),
        url('../fonts/MullerExtraBold.woff2') format('woff2'),
        url('../fonts/MullerExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Muller Regular';
    src: local('Muller Regular Italic'), local('MullerRegularItalic'),
        url('../fonts/MullerRegularItalic.woff2') format('woff2'),
        url('../fonts/MullerRegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Medium Italic'), local('MullerMediumItalic'),
        url('../fonts/MullerMediumItalic.woff2') format('woff2'),
        url('../fonts/MullerMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1110px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header__top {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.4fr;
    padding-top: 20px;
    align-items: center;
    margin-bottom: 19px;
    gap: 65px;
}

.header__nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__btn__container {
    display: flex;
    gap: 18px;
    align-items: center;
}

.search-form {
    position: relative;
    display: flex;
}

.search-form__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-form__btn svg path {
    transition: 0.3s;
}

.search-form__btn:hover svg path {
    stroke: #AA9DFA;
}

.search-form__btn:focus svg path {
    stroke: #AA9DFA;
}

.search-form__btn:active svg path {
    stroke: #4F28A5;
}

.search-form__input::placeholder {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    color: #A1A6B4;
}

.search-form__input {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    color: #A1A6B4;
    position: absolute;
    padding: 5px 0px 3px 0px;
    right: 32px;
    width: 0px;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.search-form__input-active {
    width: 308px;
    opacity: 1;
    transition: 0.4s ease-in-out;
}

.search-form__input {
    outline: none;
    border: none;
    border-bottom: 1px solid #6D31EE;
}

.btn-enter {
    font-family: 'Muller', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #121723;
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid rgba(18, 23, 35, 1);
    border-radius: 77px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-enter:hover {
    color: #FFFFFF;
    background-color: #121723;
}

.btn-enter:focus {
    color: #121723;
    background-color: #AA9DFA;
    border: 2px #121723 solid;
}

.btn-enter:active {
    color: #FFFFFF;
    background-color: #4F28A5;
    border: 2px #4F28A5 solid;
}

.header__nav a {
    font-family: 'Muller', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #121723;
    transition: 0.3s;
    outline: none;
    padding: 4px 10px;
}

.header__nav a:hover {
    color: #6D31EE;
}

.header__nav a:focus {
    color: #FFFFFF;
    background-color: #AA9DFA;
}

.header__nav a:active {
    color: #4F28A5;
}

.header__bottom {
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.1fr;
    align-items: center;
    height: 58px;
    gap: 52px;
}

.header__bottom ul {
    display: flex;
    justify-content: space-between;
}

.header__bottom ul li a {
    font-family: 'Muller', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #121723;
    transition: 0.3s;
    padding: 3px 1px 1px 1px;
    outline: none;
}

.header__bottom ul li a:hover {
    color: #6D31EE;
}

.header__bottom ul li a:focus {
    color: #FFFFFF;
    background-color: #AA9DFA;
}

.header__bottom ul li a:active {
    color: #4F28A5;
}

.header__bottom__border {
    border: 1px solid #E6E8EC;
}

.onair {
    display: flex;
    column-gap: 3px;
    align-items: center;
    padding: 0px 41px 0px 16px;
    border-left: 1px solid #E6E8EC;
    height: 40px;
}

div.onair:last-child {
    border-right: 1px solid #E6E8EC;
}

.header__onair__container {
    display: flex;
}

.onair__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.onair__head {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #A1A6B4;
    white-space: nowrap;
}

.onair__name {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #121723;
}

.onair__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    margin-right: 15px;
    outline: none;
}

.pause {
    opacity: 0;
}

.onair-btn-active {
    opacity: 1;
}

.onair__btn:hover svg path {
    transition: 0.3s;
}

.onair__btn:hover svg path {
    fill: #6D31EE;
}

.onair__btn:focus svg path {
    fill: #AA9DFA;
}

.onair__btn:active svg path {
    fill: #4F28A5;
}

.onair__btn svg {
    position: absolute;
    top: -9px;
    left: -2px;
}

.age-limit {
    background-color: #E6E8EC;
    width: 46px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.age-limit span {
    background-color: #FFFFFF;
    border-radius: 100px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #A1A6B4;
    padding: 7px 5px;
}

.onair__hr {
    border-right: 1px solid #E6E8EC;
}

.main-banner h1 {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #121723;
    margin-bottom: 14px;
}

.main-banner h1 span {
    font-family: 'Muller';
    font-style: italic;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #121723;
}

.main-banner p {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #121723;
    max-width: 635px;
    margin-bottom: 45px;
}

.main-banner a {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 25px 54px;
    background-color: #6D31EE;
    border-radius: 40px;
    display: inline-block;
    width: fit-content;
    transition: 0.3s background-color;
}

.main-banner a:hover {
    background-color: #AA9DFA;
}

.main-banner a:focus {
    background-color: #AA9DFA;
    border: 1px solid #4F28A5;
    padding: 24px 53px;
}

.main-banner a:active {
    background-color: #4F28A5;
}

.main-banner {
    padding-top: 95px;
    padding-bottom: 94px;
    background-color: transparent;
    background-image: url(../img/microphone.png);
    background-repeat: no-repeat;
    background-size: 355px 378px;
    background-position: 100% 43%;
}

.podcasts {
    background-color: #F2F2F2;
    padding: 94px 0px 94px 0px;
}

h2 {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    color: #121723;
    margin-bottom: 30px;
}